{% extends 'base_htmls/base.html' %}

{% block body %}

    <div class="container">

        {% include 'partials/messages.html' %}

        <h1 class="mb-4">Visualizar redidência</h1>
        <h3 class="mb-4">{{ residence }}</h3>

        {% include 'partials/form.html' with form=form %}

        <div class="d-flex justify-content-center">
            <a class="btn btn-sm btn-primary"
               href="{% url 'residence_update' residence.id %}">Atualizar</a>
        </div>
    </div>

{% endblock body %}
